<div class="topnav" id="myTopnav">
  <br>
  <img src="assets/images/logo.png"
       style="width: 200px; height: 50px; margin-left: 85px;">
  <a href="#about">&nbsp;&nbsp;&nbsp;</a>
  <a>
    <button type="button" style="background-color: transparent; border: 0;" (click)="openSearchModal()">
      <i class="fa fa-search"></i>
    </button>
  </a>
  <a href="#about">SIGN UP</a>
  <a href="#contact">EVENTS</a>
  <a href="#news" class="active">GO ONLINE</a>
  <a href="javascript:void(0);" class="icon" (click)="onSearchIconClick()">&#9776;</a>
</div>
<br>
<br>
<br>
<br>
