<td style="background-color: #F1F1F1; height: 610px;">
  <img src="assets/images/play.png" alt="play.png">

  <div class="text-center">
    <h2 style="font-family: 'Poppins',serif; margin-top: -10px;" class="text-center my-3">Sonu Nigam Live</h2>
  </div>

  <div class="text-center mt-5">
    <p id="part1" class="text-center">SHOWTOWN ENTERTAINMENT</p>
  </div>

  <p id="part2">Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Etiam urna sapien, pulvinar id tristique et, elementum et
    sem. Quisque interdum vehicula ipsum eget cursus. Donec fermentum
    dignissim nibh non ornare. Nam in dapibus neque, id vestibulum
    felis. Cras dapibus, libero ut accumsan fermentum, enim nibh
    ultrices lorem, ac pellentesque lorem diam vel nulla. Vestibulum
    dapibus consectetur risus ac maximus</p>
  <div>
    <p id="part3" class="text-center">
      <i class="fa fa-clock-o"></i> 21st April,2020 | 19.00PM
    </p>
  </div>
  <div style="text-align: center !important;">
    <button class="button button3">
      <i class="fa fa-eye"></i>&nbsp;&nbsp;&nbsp;Add to watch list
    </button>
  </div>
  <div style="text-align: center !important;">
    <button class="button button4">
      Click here to copy the event link <i class="fa fa-link"></i>
    </button>
  </div> <br>
</td>
