<img src="assets/images/slidetop.jpg" alt="SlideTop Image">

<br>

<div style="text-align: center">
  <div class="site-section" id="about-section">
    <div class="container">
      <div class="row mb-5">

        <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
          <img src="assets/images/about.png" alt="Image" class="zoom"
               style="width: 300px; height: 200px;">
        </div>
        <div class="col-md-6 order-md-1" data-aos="fade">

          <div class="row">


            <div class="col-12 mb-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam urna sapien, pulvinar id tristique et, elementum et sem.
                Quisque interdum vehicula ipsum eget cursus. Donec fermentum
                dignissim nibh non ornare. Nam in dapibus neque, id vestibulum
                felis. Cras dapibus, libero ut accumsan fermentum, enim nibh
                ultrices lorem, ac pellentesque lorem diam vel nulla.
                Vestibulum dapibus consectetur risus ac maximus</p>
              <p style="color: #C70039;">
                <a href="#">Learn More</a>
              </p>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-weekly-shows></app-weekly-shows>

<app-footer></app-footer>
